* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: #f9eeff;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin-top: 200px;
    width: 30%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.faq {
    padding: 20px;
}

.faq-title {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 10px;
}

h1 {
    font-family: "Work Sans", sans-serif;
    color: #2f1633;

}
.faq h3 {
    font-family: "Work Sans", sans-serif;
    font-size: .8rem;
    color: #2f1633;
}

.faq-header-1, .faq-header-2, .faq-header-3, .faq-header-4 {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 10px;
}

#icon-minus {
    display: none;
}

.faq-2, .faq-3, .faq-4 {
margin-top: 10px;
border-top: 0.1px solid rgba(226, 226, 226, 0.477);
}

.content p {
    font-family: "Work Sans", sans-serif;
    font-size: .8rem;
    font-weight: 200;
    color: #2f1633;
    /* display: none; */
}